.toggle {
  -webkit-appearance: none;
  position: relative;
  width: 40px;
  height: 23px;
  border-radius: 50px;
  outline: none;
  transition: background-color 0.2s;
  cursor: pointer;
  background-color: var(--color-gray);
}

.toggle:checked {
  transition: background-color 0.2s;
  background-color: var(--color-green);
}

.toggle:before {
  content: '';
  position: absolute;
  height: 23px;
  width: 23px;
  border-radius: 50px;
  transition: all ease-in 0.1s;
  background-color: var(--color-white);
  border: 1.5px solid var(--color-gray);
}

.toggle:checked:before {
  transform: translate(72%);
  transition: all ease-in 0.1s;
  background-color: var(--color-white);
  border: 1.5px solid var(--color-green);
}
